Flask>=2.3.0
tensorflow>=2.20.0
numpy>=1.25.0
scikit-learn>=1.7.2
nltk>=3.9.1
joblib>=1.5.2
gunicorn>=23.0.0
catboost>=1.2.8
xgboost>=3.0.5
keras>=3.11.3
pandas>=2.3.2
matplotlib>=3.10.6
seaborn>=0.13.2
beautifulsoup4>=4.13.5
requests>=2.32.4
lightgbm>=4.6.0
